.center {
display: flex;
flexFlow: row nowrap;
justifyContent: center;
alignItems: center;
}

#feedbackbox{
width: 1070px;
height: 300px;
}

div.TOS {
  border: 50px;
  radius: 50px;
  background-color: lightgray;
  width: 1070px;
  height: 350px;
  overflow: scroll;
}

#register{
 position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.productname{
    padding: 3px;
    font-size: 25px;
    text-align: center;
    flex-flow: row;
    float:bottom;
    float:left;
    margin-left: 25%;
    margin-top: 5%;
    width: 250px;
    height: 25px;
    overflow: scroll;
    font-weight: bold;
}

img.info{
  display:flex;
  float:left;
  float:bottom;
  margin-top: 2%;
  margin-left: 20%;
  background-color: green;
  border: 5px solid;
  border-radius: 10px;
  padding: 1px;
  height:300px;
  width: 400px;
}



.productdescription{
    text-align: center;
    background-color:white;
    display:flex;
    flex-flow: row;
    float:bottom;
    margin-top: 10%;
    margin-left: 57%;
    border: 5px solid;
    border-radius: 10px;
    width: 250px;
    height: 150px;
    overflow: scroll;
}


.vendorinfo{
    padding: 3px;
    text-align: center;
    flex-flow: row;
    float:bottom;
    margin-left: 55%;
    margin-top: 1%;
    width: 250px;
    height: 57px;
    overflow: scroll;
}

.productreviews{
    text-align: center;
    float:bottom;
    background-color:white;
    margin-left: 30%;
    border: 5px solid;
    border-radius: 10px;
    width: 250px;
    height: 350px;
    overflow: scroll;
}

.product{
    text-align: center;
    border: 5px solid;
    overflow: crop;
    background-color:white;
    border-radius: 10px;
    float:right;
    width: 350px;
    height: 200px;
}

.product:hover{
    border: 5px solid lightblue;
    border-radius: 10px;
}

.productButton{
    width: 100%;
    text-align: center;
    background-color: white;
    opacity: 0.7;
    border-radius: 10px;
}

.productContainer{
    overflow: scroll;
    margin-left: 35%;
    width: 400px;
    height: 600px;

}

.cartContainer{
    overflow: scroll;
    float:left;
    margin-left: 35%;
    width: 400px;
    height: 600px;

}

.historyContainer{
    overflow: scroll;
    margin-left: 35%;
    height: 560px;
    float:left;
}

.infobox{
    overflow: scroll;
    margin-left: 70%;
    text-align: center;
    width: 250px;
    height: 400px;
    background-color: lightgray;
}

#card{
    width: 78%;
    margin-right: 5px;
    display: inline-block;
}

#name, #name2{
    width: 43%;
    margin-right: 5px;
    display: inline;
}

.checkoutbox{
    border: 5px solid;
    margin-left: 25%;
    text-align: center;
    width: 550px;
    height: 460px;
    background-color: white;
}

.addbutton{
    z-index: 100;
    margin-top: 15px;
    font-size: 15px;
    width: 40%;
    height: 20%;
    border-radius: 10px;
}

.addbutton:hover {
    opacity: 1;
    background-color: yellow;

}

.carttotal{
    margin-left: 70%;
    background-color: white;
    height: 300px;
    width:210px;
    text-align: center;
    align-items: center;
    border: solid 4px black;
    overflow: scroll;
}

.checkoutButton{
    font-size: 15px;
    width: 50%;
    height: 15%;
    margin: 10px;
    display: inline;
    align-self: center;
    border-radius: 10px;
}

.checkoutButton:hover{
color: green;
}

.productinfobutton{
    float:left;
    text-align: center;
    margin-left: 9%;
    height:200px;
    width: 570px;
}