
<header>
    <div id="navbar" class="navbar">
        <div id="nav-belt">
            <div id="nav-left">
                <div id="nav-logo">
                    <img id="logo-img" src="application\frontend\src\images\IMG_1.jpg" alt="Add image">
                    <span><big>TVFM</big></span>
                </div>
            </div>
            <div id="nav-fill">
                <div id="nav-search">
                    <input id="nav-search-box" name="nav-search-box" placeholder="Search" onkeydown="executeSearch(event);">
                    <i id="nav-search-icon" class="fas-search"></i>
                </div>
            </div>
            <div id="nav-right">
                <div id="nav-tools">
                    <a href="#" id="nav-cart" class="!!!!">Cart</a>
                    <a href="#" id="nav-login" class="!!!">login/logout</a>
                </div>
            </div>
        </div>
    </div>



</header>
