body{
  background-color: white;
  min-height: 82.6vh;
  position: relative;
  bottom: 0;
  padding-top: 50px;
  padding-bottom: 100px;
  
}

/* Header css (will move to .css file) */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: -8px;
}

.nav-belt {
  display: flex;
  align-items: center;
  background-color: rgb(95, 145, 80);
  overflow: hidden;
  color: white;
  white-space: nowrap;
  height: 75px;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px 0px 10px 0px;
}

.searchbar{
  display: flex;
  align-items: center;
}

a{
  text-align: center;
  align-items: center;
  text-decoration: none;
}

a:hover{
  border: 1px solid white;
  margin: -1px;
  border-radius: 3px;
}

a span{
  font-size:14px;
  margin-left: -10px;
}

p{
  font-size: 12px;
  line-height: 15;
}

.tool{
  padding:10px 10px;
}

p > button:hover {
  border: 1px solid green;
  border-radius: 5px 5px;
  color: green;
}

p > button {
  border-radius: 5px 5px;
}

.navbar input{
  width: 75%;
  padding: 12.5px;
  font-size: 15x;
  border: none;
  outline: none;
  color: black;
}

.navbar button{
  padding: 10px 10px;
  color: black;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.tool{
  padding:10px 10px;
}

p > button:hover {
  border: 1px solid green;
  border-radius: 5px 5px;
  color: green;
}

p > button {
  border-radius: 5px 5px;
}

.all {
  background: rgb(236, 236, 236);
  border-radius: 5px 0 0 5px;
}

.searchbar .search{
  height: 40px;
  margin: -5px;
  background: white;
  border-radius: 0 5px 5px 0;
}

.search:hover {
  background: rgb(226, 226, 226);
}

.logo-img{
  width: 150px;
}

.nav-tools{
  display: inline-flex;
}


.nav-left {
  flex: 1;
}

.nav-center {
  flex: 2;
}

.nav-right {
  flex: 0;
  padding: 0px 10px 20px 10px;
}

/* Footer css (will move to another .css file) */
.footer-bar {
  background-color: rgb(189, 253, 176);
  padding: 20px;
  position: absolute;
  width: 100%;
  bottom: -2.1px;
  margin: -8px;
}

.footer-row {
  display: flex;
  justify-content: center;
}

.footer-col {
  width: 33%;
  padding: 0 10px;
}

ul {
  list-style: none;
}

li a:hover {
  color: green;
  padding-left: 10px;
  border: 0;
}


#register{
 border: 4px;
 radius: 3;
 display: flex;
 flexFlow: row nowrap;
 justifyContent: center;
 alignItems: center;
}

